
body {
	min-width: 1117px;
	font-family: arial, serif;
}

header {
	display: inline;
}

nav.mainNav {
	display: flex;
	height: 46px;
	width: 100%;
	margin-top: 20px;
}

nav div.logo {
	display: flex;
	width: 150px;
	justify-content: center;
	align-items: center;
}

nav div.searchBar {
	display: flex;
	align-items: center;
	height: 44px;
	width: 630px;
	border: 1px solid #dfe1e5;
  	border-radius: 50px;
  	box-shadow: none;
}

nav div.searchBar:hover {
  box-shadow:
    0 1px 6px 0 rgba(32,33,36,0.28);
    cursor: text;
}

nav div.searchBar #searchInput {
	border: none;
	outline: none;
	width: 100%;
	line-height: 34px;
	font-size: 16px;
	margin-left: 20px;
	padding: 0;
}

nav div.searchIcons {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 31px;
	padding: 0 8px;
}

nav div.searchIcons#googleSearch {
	margin-right: 7px;
	margin-left: -2px;
}

nav div.navButtons {
	display: flex;
	margin-left: auto;
	padding-right: 30px;
}

nav div ul {
	display: flex;
	align-items: center;
	margin: none;
	padding: 0px;
	height: 100%;
}

nav div ul li {
	display: flex;
	align-items: center;
	height: 100%;
}

nav div ul li a {
	padding-left: 15px;
}

nav div ul li a img {
	opacity: 0.65;
}

nav div ul li a img:hover {
	opacity: 1;
	cursor: pointer;
}

nav div ul li a.googleApps {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 30px;
	width: 30px;
}

nav div ul li a button {
	background: -webkit-linear-gradient(top,#4387fd,#4683ea);
	border: 1px solid #4285f4;
	color: #fff;
	font-weight: bold;
	line-height: 28px;
	padding: 0 12px;
	border-radius: 2px;
}

div.resultNav {
	display: flex;
	align-items: center;
	width: auto;
	height: 44px;
	padding: 12px 0 0 150px;
	border-bottom: 1px solid #ebebeb;
}

div.resultNav ul {
	display: flex;
	align-items: center;
	height: 100%;
}

div.resultNav ul li {
	display: flex;
	align-items: center;
	height: 100%;
}

div.resultTabs {
	display: flex;
	align-items: center;
	height: 100%;
}

div.resultTools {
	display: flex;
	justify-content: center;
	height: 100%;
}

div.resultNav ul li a {
	display: flex;
	align-items: center;
	color: #777;
	margin: 0 8px;
	padding: 0 8px;
	font-size: 13px;
	text-decoration: none;
}

div.resultNav ul li a.hoverTab:hover {
	color: #222;
}

div.resultNav ul li.activeTab {
	height: 41px;
	border-bottom: 3px solid #1a73e8;
}

div.resultNav ul li a#active {
	padding-top: 3px;
	color: #1a73e8;
	font-weight: bold;
}

div.resultTools {
	margin-left: 80px;
}

div.resultTools #tools {
	display: flex;
	align-items: center;
	border: 1px solid #fff;
	border-radius: 2px;
	height: 19px;
	padding: 4px 19px;
}

div.resultTools #tools a {
	padding: 0;
	margin: 0;
}

div.resultTools #tools:hover {
	color: 777;
	background-image: -webkit-linear-gradient(top,#f8f8f8,#f1f1f1);
	border: 1px solid #c6c6c6;
	box-shadow: 0 1px 1px rgba(0,0,0,0.1);
	cursor: pointer;
}

/*-------Main Section--------*/

div.resultCount {
	display: flex;
	align-items: center;
	height: 43px;
	margin-left: 150px;
	padding-left: 20px;
	color: #777;
	font-size: small;
}

div.mainContent {
	width: 100%;
	display: flex;
	padding-top: 6px;
}

div.searchResults {
	width: 592px;
	padding: 0 20px;
	margin-left: 150px;
}

div h2 a {
	font-size: 18px;
	line-height: 1.33;
	color: #1a0dab;
	text-decoration: none;
}

div h2 a:hover {
	text-decoration: underline;
}

div p a.resultLink {
	color: #006621;
	text-decoration: none;
	font-size: 14px;
	padding-top: 1px;
	line-height: 1.43;
}

div p.resultInfo {
	line-height: 1.54;
	font-size: small;
	padding-top: 1px;
	padding-bottom: 30px;
	color: #545454;
}

div#firstResult p.resultInfo {
	padding-bottom: 0;
}

div.subResult {
	display: flex;
	margin: 0 0 0 22px;
	padding-top: 15px;
	width: 100%;
	height: 243px;
}

div.subResult div {
	width: 301px;
	height: 83px;
}

div p.subInfo {
	width: 220px;
	height: 40px;
	color: #545454;
	line-height: 1.54;
	font-size: small;
}

div.subContainer {
	width: 50%;
}