
body {
	min-width: 1215px;
	font-family: arial, serif;
}

header {
	display: inline;
}

nav.mainNav {
	display: flex;
	height: 46px;
	width: 100%;
	margin-top: 20px;
}

nav div.logo {
	display: flex;
	width: 150px;
	justify-content: center;
	align-items: center;
}

nav div.searchBar {
	display: flex;
	align-items: center;
	height: 44px;
	width: 630px;
	border: 1px solid #dfe1e5;
  	border-radius: 50px;
  	box-shadow: none;
}

nav div.searchBar:hover {
  box-shadow:
    0 1px 6px 0 rgba(32,33,36,0.28);
    cursor: text;
}

nav div.searchBar #searchInput {
	border: none;
	outline: none;
	width: 100%;
	line-height: 34px;
	font-size: 16px;
	margin-left: 20px;
	padding: 0;
}

/* clears the 'X' from Internet Explorer */
input[type=search]::-ms-clear {
	display: none; width : 0; height: 0;
}

input[type=search]::-ms-reveal {
	display: none; width : 0; height: 0;
}

/* clears the 'X' from Chrome */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }

nav div.searchIcons {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 31px;
	padding: 0 8px;
	cursor: pointer;
}

nav div.searchIcons#googleSearch {
	margin-right: 7px;
	margin-left: -2px;
}

nav div.navButtons {
	display: flex;
	margin-left: auto;
	padding-right: 30px;
}

nav div ul {
	display: flex;
	align-items: center;
	margin: none;
	padding: 0px;
	height: 100%;
}

nav div ul li {
	display: flex;
	align-items: center;
	height: 100%;
}

nav div ul li a {
	padding-left: 15px;
}

nav div ul li a img {
	opacity: 0.65;
}

nav div ul li a img:hover {
	opacity: 1;
	cursor: pointer;
}

nav div ul li a.googleApps {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 30px;
	width: 30px;
}

nav div ul li a button {
	background: -webkit-linear-gradient(top,#4387fd,#4683ea);
	border: 1px solid #4285f4;
	color: #fff;
	font-weight: bold;
	line-height: 28px;
	padding: 0 12px;
	border-radius: 2px;
}

div.resultNav {
	display: flex;
	align-items: center;
	width: auto;
	height: 44px;
	padding: 12px 0 0 150px;
	border-bottom: 1px solid #ebebeb;
}

div.resultNav ul {
	display: flex;
	align-items: center;
	height: 100%;
}

div.resultNav ul li {
	display: flex;
	align-items: center;
	height: 100%;
}

div.resultTabs {
	display: flex;
	align-items: center;
	height: 100%;
}

div.resultTools {
	display: flex;
	justify-content: center;
	height: 100%;
}

div.resultNav ul li a {
	display: flex;
	align-items: center;
	color: #777;
	margin: 0 8px;
	padding: 0 8px;
	font-size: 13px;
	text-decoration: none;
}

div.resultNav ul li a.hoverTab:hover {
	color: #222;
}

div.resultNav ul li.activeTab {
	height: 41px;
	border-bottom: 3px solid #1a73e8;
}

div.resultNav ul li a#active {
	padding-top: 3px;
	color: #1a73e8;
	font-weight: bold;
}

div.resultTools {
	margin-left: 80px;
}

div.resultTools #tools {
	display: flex;
	align-items: center;
	border: 1px solid #fff;
	border-radius: 2px;
	height: 19px;
	padding: 4px 19px;
}

div.resultTools #tools a {
	padding: 0;
	margin: 0;
}

div.resultTools #tools:hover {
	color: 777;
	background-image: -webkit-linear-gradient(top,#f8f8f8,#f1f1f1);
	border: 1px solid #c6c6c6;
	box-shadow: 0 1px 1px rgba(0,0,0,0.1);
	cursor: pointer;
}

/*-------Main Section--------*/

div.resultCount {
	display: flex;
	align-items: center;
	height: 43px;
	margin-left: 150px;
	padding-left: 20px;
	color: #777;
	font-size: small;
}

div.mainContent {
	display: flex;
	padding-top: 6px;
}

div.searchResults {
	width: 632px;
	margin-left: 150px;
}

div.result {
	padding: 0 20px 30px 20px;
}

div.result h2 a {
	font-size: 18px;
	line-height: 1.33;
	color: #1a0dab;
	text-decoration: none;
}

div.result h2 a:hover {
	text-decoration: underline;
}

.resultLink {
	color: #006621;
	text-decoration: none;
	font-size: 14px;
	padding-top: 1px;
	line-height: 1.43;
}

.resultInfo {
	line-height: 1.54;
	font-size: small;
	padding-top: 1px;
	color: #545454;
}

.bold {
	font-weight: bold;
}

.dateTime {
	color: #777;
	line-height: 1.54;
	font-size: small;
}

div.resultRating {
	display: flex;
	height: 13px;
}

div.resultRating span {
	display: block;
    background: url(https://www.google.com/images/nav_logo242.png) no-repeat -100px -274px;
    height: 13px;
    width: 59px;
}

div.resultRating p {
	color: #777;
	font-size: small;
	line-height: 1.35;
	padding-left: 8px;
}

a#twitterLink {
	color: #1a0dab;
	text-decoration: none;
}

a#twitterLink:hover {
	text-decoration: underline;
}

div.result p img {
	height: 15px;
	padding-left: 8px;
}

div.subResult {
	display: flex;
	flex-direction: column;
	margin: 0 0 0 22px;
	width: 592px;
	height: auto;
}

div.subRow {
	display: flex;
}

div.subContainer {
	width: 50%;
	padding-top: 15px;
}

div p.subInfo {
	width: 220px;
	height: 40px;
	color: #545454;
	line-height: 1.54;
	font-size: small;
}

div.subMore {
	width: 100%;
	padding-top: 10px;
}

div.subMore a {
	font-size: small;
	text-decoration: none;
	color: #1a0dab;
}

div.subMore a:hover {
	text-decoration: underline;
}

div.recommended {
	display: flex;
	flex-direction: column;
	width: 100%;
	padding-bottom: 30px;
}

div.peopleAsk {
	width: 100%;
	height: 145px;
	border: 1px solid #dfe1e5;
	border-radius: 8px;
}

div.feedback {
	display: flex;
	justify-content: flex-end;
	padding: 4px 16px 0 16px;
}

div.askTitle {
	display: flex;
	align-items: center;
	height: 24px;
	padding: 15px 16px 9px 16px;
	border-bottom: 1px solid #dfe1e5;
}

div.askTitle h2 {
	color: #808080;
	font-size: 20px;
	line-height: 1.2;
}

div.ask {
	display: flex;
	align-items: center;
	height: 21px;
	padding: 5px 16px 5px 16px;
	border-bottom: 1px solid #dfe1e5;
	cursor: pointer;
}

div#lastAsk {
	border: none;
}

p.askText {
	width: 97%;
	font-size: 18px;
	line-height: 1.2;
}

.arrowDown {
	float: right;
	border: solid #70757a;
	height: 3px;
	width: 3px;
	border-width: 0 2px 2px 0;
	padding: 2px;
	transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
}

div.feedback a {
	color: #777;
	font-style: italic;
	font-size: 12px;
	line-height: 1.33;
	text-decoration: none;
}

div.feedback a:hover {
	text-decoration: underline;
}

div.relatedSearches {
	padding: 0 20px;
	margin-bottom: 28px;

}

div.relatedSearches h2 {
	color: #222;
	font-size: 18px;
	line-height: 1.33;
	padding: 15px 0;
}

div.linkContainer {
	display: flex;
}

div.relatedLinks {
	display: flex;
	flex-direction: column;
	width: 45%;
}

div.relatedLinks a {
	color: #1a0dab;
	padding: 3px 0;
	font-size: 14px;
	line-height: 20px;
	text-decoration: none;
}

div.relatedLinks a:hover {
	text-decoration: underline;
}

div.searchPages {
	display: flex;
	justify-content: center;
	margin-bottom: 50px;
}

.bigG {
	width: 30px;
	height: 37px;
	background: url(https://www.google.com/images/nav_logo242_hr.png) no-repeat;
	background-size: 164px;
	background-position: -21px 0px;
}

.redO {
	width: 20px;
	height: 37px;
	background: url(https://www.google.com/images/nav_logo242_hr.png) no-repeat;
	background-size: 164px;
	background-position: -51px 0px;
}

.default {
	color: #000;
}

.default:hover {
	cursor: default;
	text-decoration: none;
}

.yellowO {
	width: 20px;
	height: 37px;
	color: #4285f4;
	background: url(https://www.google.com/images/nav_logo242_hr.png) no-repeat;
	background-size: 164px;
	background-position: -72px 0px;
}

.gle {
	width: 80px;
	height: 37px;
	color: #4285f4;
	background: url(https://www.google.com/images/nav_logo242_hr.png) no-repeat;
	background-size: 164px;
	background-position: -93px 0px;
}

.pageNumber {
	display: block;
	margin-top: 35px;
	text-align: center;
	padding: 5px 3px 0px 3px;
	color: #4285f4;
	font-size: small;
	line-height: 1.5;
}

.pageNext {
	display: block;
	margin-top: 35px;
	text-align: right;
	padding: 5px 3px 0px 3px;
	color: #4285f4;
	font-size: small;
	line-height: 1.5;
}

div.gle:hover {
	cursor: pointer;
	text-decoration: underline;
}

span#pageActive {
	color: rgba(0,0,0,0.87);
}

div.yellowO:hover {
	cursor: pointer;
	text-decoration: underline;
}

div.footer {
	display: flex;
	flex-direction: column;
	height: 65px;
	bottom: 0px;
	font-size: 13px;
	color: #5f6368;
	background-color: #f2f2f2;
	padding-left: 170px;
	border-top: 1px solid #e4e4e4;
}

div.footer a {
	color: #5f6368;
	text-decoration: none;
}

div.footer a:hover {
	color: #333;
}

i.circle {
	border-radius: 100%;
    display: inline-block;
    height: 10px;
    margin: 6px 4px 9px 0;
    vertical-align: middle;
    width: 10px;
    background-color: #9e9e9e;
}

div.footerTop {
	display: flex;
	align-items: center;
	height: 25px;
	width: 100%;
}

div.footerBottom {
	display: flex;
	align-items: center;
	height: 40px;
	width: 100%;
}

div.footerBottom ul {
	display: flex;
	align-items: center;
}

div.footerBottom ul li {
	padding-right: 27px;
}

div.resultCompany {
	display: flex;
	flex-direction: column;
	margin-left: 45px;
	height: 527px;
	min-width: 366px;
	border: 1px solid #dfe1e5;
	border-radius: 8px;
}

div.companyInfo {
	display: flex;
	height: 160px;
	border-bottom: 1px solid #dfe1e5;
}

div.companyTitle {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 175px;
	padding-left: 15px;
}

div.companyTitle h2 {
	color: rgba(0,0,0,0.87);
	line-height: 1.2;
	font-size: 19px;
}

div.companyTitle p {
	padding: 4px 0;
	color: #777;
	line-height: 1.54;
	font-size: small;
}

div.arrowContainer {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 40px;
}

.arrowLeft {
	float: right;
	border: solid #70757a;
	height: 10px;
	width: 10px;
	border-width: 0 2px 2px 0;
	padding: 2px;
	transform: rotate(135deg);
	-webkit-transform: rotate(135deg);
}

.arrowLeft:hover {
	cursor: pointer;
}

div.odinLogo {
	display: flex;
	width: 121px;
	padding-left: 15px;
	justify-content: center;
	align-items: center;
}

div.odinLogo img:hover {
	cursor: pointer;
}

div.companySite {
	height: 40px;
	border-bottom: 1px solid #dfe1e5;
}

div.companySite a {
	display: flex;
	height: 100%;
	align-items: center;
	line-height: 1.54;
	font-size: small;
	color: #1a0dab;
	text-decoration: none;
}

div.companySite a:hover {
	text-decoration: underline;
}

div.companySite img {
	padding: 0 15px;
}

div.companySite p {
	padding-left: 10px;
}

div.companyDetails {
	padding: 7px 0 0 15px;
	font-size: small;
	color: #222;
}

a.detailLink {
	color: #222;
	line-height: 2;
	font-weight: bold;
	text-decoration: none;
}

a.detailLink:hover {
	text-decoration: underline;
}

a#thinkfulLink {
	color: #1a0dab;
	text-decoration: none;
	margin-top: 7px;
}

a#thinkfulLink:hover {
	text-decoration: underline;
}

div.profileContainer {
	display: flex;
	flex-direction: column;
	width: 336px;
	padding: 0 15px;
}

div#profileHead {
	width: 100%;
	color: #222;
	line-height: 1.33;
	font-size: 18px;
	margin-top: 20px;
	padding-bottom: 10px;
}

div#profileRow {
	display: flex;
	width: 100%;
	justify-content: center;
}

div.profile {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 72px;
	height: 54px;
	cursor: pointer;
	font-size: small;
	padding: 0 8px;
	color: #1a0dab;
}

div.profile:hover {
	text-decoration: underline;
}

div.profile span {
	padding-top: 5px;
	line-height: 1.38;
}

div#alsoHead {
	display: flex;
	align-items: baseline;
	margin-top: 20px;
}

div#alsoHead h2 {
	cursor: pointer;
	color: #222;
	line-height: 1.33;
	font-size: 18px;
}

div#alsoHead h2:hover {
	text-decoration: underline;
}

div#alsoHead p {
	cursor: pointer;
	margin-left: auto;
	color: #777;
	font-size: small;
}

div#alsoHead p:hover {
	text-decoration: underline;
}

div.alsoSearch {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 72px;
	height: 100px;
	cursor: pointer;
	font-size: small;
	padding: 0 8px;
	color: #1a0dab;
}

div.alsoSearch img {
	position: absolute;
}

div.alsoSearch p {
	margin-top: auto;
}
