
body {
	min-width: 1117px;
	font-family: arial, serif;
}

header {
	display: inline;
}

nav.mainNav {
	display: flex;
	height: 46px;
	width: 100%;
	margin-top: 20px;
}

nav div.logo {
	display: flex;
	width: 150px;
	justify-content: center;
	align-items: center;
}

nav div.searchBar {
	display: flex;
	align-items: center;
	height: 44px;
	width: 630px;
	border: 1px solid #dfe1e5;
  	border-radius: 50px;
  	box-shadow: none;
}

nav div.searchBar:hover {
  box-shadow:
    0 1px 6px 0 rgba(32,33,36,0.28);
    cursor: text;
}

nav div.searchBar #searchInput {
	border: none;
	outline: none;
	width: 100%;
	line-height: 34px;
	font-size: 16px;
	margin-left: 20px;
	padding: 0;
}

nav div.searchIcons {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 31px;
	padding: 0 8px;
}

nav div.searchIcons#googleSearch {
	margin-right: 7px;
	margin-left: -2px;
}

nav div.navButtons {
	display: flex;
	margin-left: auto;
	padding-right: 30px;
}

nav div ul {
	display: flex;
	align-items: center;
	margin: none;
	padding: 0px;
	height: 100%;
}

nav div ul li {
	display: flex;
	align-items: center;
	height: 100%;
}

nav div ul li a {
	padding-left: 15px;
}

nav div ul li a img {
	opacity: 0.65;
}

nav div ul li a img:hover {
	opacity: 1;
	cursor: pointer;
}

nav div ul li a.googleApps {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 30px;
	width: 30px;
}

nav div ul li a button {
	background: -webkit-linear-gradient(top,#4387fd,#4683ea);
	border: 1px solid #4285f4;
	color: #fff;
	font-weight: bold;
	line-height: 28px;
	padding: 0 12px;
	border-radius: 2px;
}

div.resultNav {
	display: flex;
	align-items: center;
	width: auto;
	height: 44px;
	padding: 12px 0 0 150px;
	border-bottom: 1px solid #ebebeb;
}

div.resultNav ul {
	display: flex;
	align-items: center;
	height: 100%;
}

div.resultNav ul li {
	display: flex;
	align-items: center;
	height: 100%;
}

div.resultTabs {
	display: flex;
	align-items: center;
	height: 100%;
}

div.resultTools {
	display: flex;
	justify-content: center;
	height: 100%;
}

div.resultNav ul li a {
	display: flex;
	align-items: center;
	color: #777;
	margin: 0 8px;
	padding: 0 8px;
	font-size: 13px;
	text-decoration: none;
}

div.resultNav ul li a.hoverTab:hover {
	color: #222;
}

div.resultNav ul li.activeTab {
	height: 41px;
	border-bottom: 3px solid #1a73e8;
}

div.resultNav ul li a#active {
	padding-top: 3px;
	color: #1a73e8;
	font-weight: bold;
}

div.resultTools {
	margin-left: 80px;
}

div.resultTools #tools {
	display: flex;
	align-items: center;
	border: 1px solid #fff;
	border-radius: 2px;
	height: 19px;
	padding: 4px 19px;
}

div.resultTools #tools a {
	padding: 0;
	margin: 0;
}

div.resultTools #tools:hover {
	color: 777;
	background-image: -webkit-linear-gradient(top,#f8f8f8,#f1f1f1);
	border: 1px solid #c6c6c6;
	box-shadow: 0 1px 1px rgba(0,0,0,0.1);
	cursor: pointer;
}

/*-------Main Section--------*/

div.resultCount {
	display: flex;
	align-items: center;
	height: 43px;
	margin-left: 150px;
	padding-left: 20px;
	color: #777;
	font-size: small;
}

div.mainContent {
	display: flex;
	padding-top: 6px;
}

div.searchResults {
	width: 632px;
	margin-left: 150px;
}

div.result {
	padding: 0 20px 30px 20px;
}

div.result h2 a {
	font-size: 18px;
	line-height: 1.33;
	color: #1a0dab;
	text-decoration: none;
}

div.result h2 a:hover {
	text-decoration: underline;
}

.resultLink {
	color: #006621;
	text-decoration: none;
	font-size: 14px;
	padding-top: 1px;
	line-height: 1.43;
}

.resultInfo {
	line-height: 1.54;
	font-size: small;
	padding-top: 1px;
	color: #545454;
}

.bold {
	font-weight: bold;
}

.dateTime {
	color: #777;
	line-height: 1.54;
	font-size: small;
}

a#twitterLink {
	color: #1a0dab;
	text-decoration: none;
}

a#twitterLink:hover {
	text-decoration: underline;
}

div.subResult {
	display: flex;
	flex-direction: column;
	margin: 0 0 0 22px;
	width: 100%;
	height: auto;
}

div.subRow {
	display: flex;
}

div.subContainer {
	width: 50%;
	padding-top: 15px;
}

div p.subInfo {
	width: 220px;
	height: 40px;
	color: #545454;
	line-height: 1.54;
	font-size: small;
}

div.subMore {
	width: 100%;
	padding-top: 10px;
}

div.subMore a {
	font-size: small;
	text-decoration: none;
	color: #1a0dab;
}

div.subMore a:hover {
	text-decoration: underline;
}

div.recommended {
	display: flex;
	flex-direction: column;
	width: 100%;
	padding-bottom: 30px;
}

div.peopleAsk {
	width: 100%;
	height: 145px;
	border: 1px solid #dfe1e5;
	border-radius: 8px;
}

div.feedback {
	display: flex;
	justify-content: flex-end;
	padding: 4px 16px 0 16px;
}

div.askTitle {
	display: flex;
	align-items: center;
	height: 24px;
	padding: 15px 16px 9px 16px;
	border-bottom: 1px solid #dfe1e5;
}

div.askTitle h2 {
	color: #808080;
	font-size: 20px;
	line-height: 1.2;
}

div.ask {
	display: flex;
	align-items: center;
	height: 21px;
	padding: 5px 16px 5px 16px;
	border-bottom: 1px solid #dfe1e5;
	cursor: pointer;
}

div#lastAsk {
	border: none;
}

p.askText {
	width: 97%;
	font-size: 18px;
	line-height: 1.2;
}

.arrowDown {
	float: right;
	border: solid #70757a;
	height: 3px;
	width: 3px;
	border-width: 0 2px 2px 0;
	padding: 2px;
	transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
}

div.feedback a {
	color: #777;
	font-style: italic;
	font-size: 12px;
	line-height: 1.33;
	text-decoration: none;
}

div.feedback a:hover {
	text-decoration: underline;
}